* {
    padding: 0;
    margin: 0;
}

body {
    background-color: ghostwhite;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    padding: 0 1rem;
    /* border: 2px solid gray;  */
}

/* .red-title{
    color:  #CE1211;
} */

button.booking {
    background-color: #CE1211;
    color: white;
    padding: 0.75rem;
    border-radius: 2rem;
    align-items: center;
    border: none;
}

button.links {
    display: none;
}

header {
    display: grid;
    grid-template-columns: 4fr 4fr;
    align-items: center;
    /* border: 2px red solid; */
    padding: 1rem;
    background-color: white;
}

.rest-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rnitem {
    padding: 0.5rem;
}

.hero-carousel {
    display: flex;
    justify-content: center;
    grid-area: hero-caro;
}

.intro-info {
    grid-area: intro;
    font-family: 'Amatic SC', cursive, 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "hero-caro hero-caro hero-caro"
        ". intro .";
}

.hero-imgs {
    width: 80%;
    display: center;
    margin: 1rem;
}

@media screen and (min-width: 600px) {
    button.links {
        display: inline-block;
        background-color: #ffffff;
        color: white;
        padding: 0.75rem;
        border-radius: 2rem;
        align-items: center;
        border: 2px black solid;
    }

    .nav-links {
        text-decoration: none;
        color:black
    }

    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 1fr 2fr;
    }
}

/* Nav Menu - Pop Up */

.navmenu {
    z-index: 999;
    top: 0.5rem;
    position: fixed;
    right: 0.5rem;
    background-color:burlywood;
    padding: 0;
    width: 15rem;
    margin: 0;
    border-radius: 0.5rem;;
    display: none;
}

ul.navmenu-list {
    list-style-type: none;
}

li.menu-items {
    border-bottom: 1px black solid;
    padding: 0.5rem;
    margin: 0.5rem;

}

li.menu-items:last-child {
    border-bottom: none;
}

li.menu-items:first-child {
    display: flex;
    justify-content: space-between;
}

.x-out {
    text-align: right;
}

a.menu-links {
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.fa-x {
    height: 1rem;
    width: 1rem;
    display: grid;
    place-items: center;
}