body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    padding: 0 1rem;
    margin: 0;
    /* border: 2px solid gray;  */
}

/* .red-title{
    color:  #CE1211;
} */

button.booking {
    background-color: #CE1211;
    color: white;
    padding: 0.75rem;
    border-radius: 2rem;
    align-items: center;
    border: none;
}

button.links {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px red solid; */
    padding: 1rem;
    background-color: white;
}

.rest-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rnitem {
    padding: 0.5rem;
}

.hero-carousel {
    display: flex;
    justify-content: center;
    grid-area: hero-caro;
}

.intro-info {
    grid-area: intro;
    font-family: 'Amatic SC', cursive, 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "hero-caro hero-caro hero-caro"
        ". intro .";
}

.hero-imgs {
    width: 80%;
    display: center;
    border-radius: 50%;
}

@media screen and (min-width: 600px) {
    button.links {
        display: inline-block;
        background-color: #ffffff;
        color: white;
        padding: 0.75rem;
        border-radius: 2rem;
        align-items: center;
        border: 2px black solid;
    }

    .nav-links {
        text-decoration: none;
        color:black
    }

    .hamburger {
        display: none;
    }

    header {
        grid-template-columns: 1fr 2fr;
    }

    .hero-imgs {
        width: 60%;
    }

}

/* ABOUT PAGE */

/* Contact Us */